
*.jar
*.original
*.class
target/classes/templates/index.htm
target/classes/templates/index.html
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/surefire-reports/com.ss.algorithms.AlgorithmsApplicationTests.txt
target/surefire-reports/TEST-com.ss.algorithms.AlgorithmsApplicationTests.xml
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/surefire-reports/com.ss.algorithms.AlgorithmsApplicationTests.txt
target/surefire-reports/TEST-com.ss.algorithms.AlgorithmsApplicationTests.xml
