<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <div> 
        <h2>
            <span th:text=" Usage"></span>
        </h2>
    </div>
     <div>
    <li>
    http://algorithms-empathic-wolverine.cfapps.io/arithmetic?firstValue=100&secondValue=5&operator=multiply
    </li>
    <li>
    http://algorithms-empathic-wolverine.cfapps.io/fibonacciseries?resultCount=7
    </li>
    <li>
       http://algorithms-empathic-wolverine.cfapps.io/max?firstValue=100&secondValue=5
    </li>
    <li>
       http://algorithms-empathic-wolverine.cfapps.io/geometricseries?firstValue=3&secondValue=2&resultCount=7
    </li>
    <li>
        Sample Usage: http://localhost:8080/arithmetic?firstValue=15&secondValue=5&operator=add"
    </li>
    </div>
</body>
</html>